<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Book title</th>
      <th>Booklog</th>
      <th>Booklog url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.body %></td>
        <td><%= quote.book_title %></td>
        <td><%= quote.booklog_id %></td>
        <td><%= quote.booklog_url %></td>
        <td><%= link_to 'Show', quote %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

