<!DOCTYPE html>
<html>
<head>
  <title>ほんのいちぶ - 気になるフレーズから新しい本と出会う</title>
  <meta name="description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="ほんのいちぶ - 気になるフレーズから新しい本と出会う">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:url" content="http://hontrance.herokuapp.com/">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "ほんのいちぶ", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
