<!DOCTYPE html>
<html>
<head>
  <title>ほんのいちぶ - 気になるフレーズから新しい本と出会う</title>
  <meta name="description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="ほんのいちぶ - 気になるフレーズから新しい本と出会う">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:url" content="http://hontrance.herokuapp.com/">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=710626128970495";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-book"></i>
        ほんのいちぶ
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
  <hr>
  <footer class="text-center">
    <div class="clearfix" id="social-buttons">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
      <div class="fb-like" data-href="http://hontrance.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
    <p>
    Inspired by
    <%= link_to "紀伊國屋書店「ほんのまくら」フェア", "http://www.kinokuniya.co.jp/c/store/Shinjuku-Main-Store/20120725000000.html" %>
    </p>
    <p>
    Data is from
    <%= link_to "ブクログ", "http://booklog.jp/" %>
    </p>
    <p>
      <%= link_to "@snoozer05", "https://twitter.com/snoozer05" %>
      /
      <%= link_to "https://github.com/snoozer05/hontrance/" do %>
        <i class="fa fa-github"></i>
      <% end %>
    </p>
  </footer>
</div>
</body>
</html>
