<!DOCTYPE html>
<html>
<head>
  <title>ほんのいちぶ - 気になるフレーズから新しい本と出会う</title>
  <meta name="description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="ほんのいちぶ - 気になるフレーズから新しい本と出会う">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ほんのいちぶは、気になるフレーズを入り口にして新しい本と出会うためのサイトです">
  <meta property="og:url" content="http://hontrance.herokuapp.com/">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ほんのいちぶ", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
